<footer class="footer">
    <img id="logo" width="165px" height="70px" src="./images/logo.svg" alt="">

    <ul class="footer-contacts">
        <li class="footer-contacts-item m-font">Тел: +38 (123) 456 78 90</li>
        <li class="footer-contacts-item m-font">E-Mail: codingmagic@gmail.com</li>
        <li class="footer-contacts-item m-font">Facebook: CodingMagic</li>
        <li class="footer-contacts-item m-font">Twitter: CodingMagic</li>
        <li class="footer-contacts-item m-font">Instagram: CodingMagic</li>
    </ul>

    <div class="footer-subscription">
        <ul class="footer-subscription-controls">
            <li class="footer-subscription-controls-item m-font">
                <input class="js-footer-input" placeholder="Ваша ел. адреса..." type="email">
            </li>
            <li class="footer-subscription-controls-item m-font">
                <button class="js-footer-button" type="button">Підписатись</button>
            </li>
        </ul>
            <p class="footer-subscription-disclaimer">*Підписавшись, Ви зможете отримувати інформацію про новинки на сайті</p>
    </div>

</footer>