<div id="entertainment-game" class="allrockpaperscissor">
    <div class="delimiter"></div>
        <h2 class="t-font">Камінь - ножиці - папір </h2>
    
        <div class="compyou">
          <p class="m-font">Рахунок <span id="draw">0</span></p>
          <p class="m-font">Комп'ютер <span id="computer">0</span></p>
          <p class="m-font">Ви <span id="you">0</span></p>
        </div>

        <ul class="ulli">
         <li class="pick-one">
          <button type="button" id="rockButton" class="rockpapersscissor">
            <img class="rock" src="./images/game3/Frame 127.svg" alt="rock" onclick="return playAgainstComputer('камінь')">
            Камінь
          </button>
         </li>
       
          <li class="pick-one">
          <button type="button" id="paperButton" class="rockpapersscissor" onclick="return playAgainstComputer('папір')">
            <img class="papers" src="./images/game3/Frame 128.svg" alt="paper">
            папір
          </button>
          </li>

          <li class="pick-one">
          <button type="button" id="scissorButton" class="rockpapersscissor" onclick="return playAgainstComputer('ножиці')">
            <img class="scissor" src="./images/game3/Frame 126.svg" alt="sscissor">
            ножиці
          </button>
          </li>
         </ul>
<p class="text m-font"></p>
         <span style="color: white;" class="comp m-font">Варіант комп'ютера </span>
    </div>
