<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="sass/layout/_game4.scss">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet">
    <script type="module" src="js/game4.js"></script>
</head>
<body>
    <div class="calculator">
        <input id="num1" value="Введіть число">
        <div class="buttons">
            <div class="mathSymbolsClass"><button class="mathSymbols" id="buttonPlus">+</button></div>
            <div class="mathSymbolsClass"><button class="mathSymbols" id="buttonMinus">-</button></div>
            <div class="mathSymbolsClass"><button class="mathSymbols" id="buttonPomn">*</button></div>
            <div class="mathSymbolsClass"><button class="mathSymbols" id="buttonPodl">/</button></div>
        </div>
        <input id="num2" value="Введіть число">
        <button id="buttonCalculate">=</button>
        <div class="resultValue"><p id="result">Результат</p></div>
    </div>
</body>
</html>