<div id="entertainment-game">
<div class="allrockpaperscissor">
  <div class="delimiter"></div>
  <h2 class="t-font">Камінь - ножиці - папір </h2>

  <div class="compyou">
    <p class="m-font">Рахунок:</p>
    <p class="m-font">Комп'ютер <span id="computer">0</span></p>
    <p class="m-font">Ви <span id="you">0</span></p>
  </div>

  <ul class="ulli">
   <li class="pick-one">
    <button id="rockButton" class="rockpapersscissor">
      <img class="rock" src="./images/game3/stone 1.png" alt="rock">
    </button>
   </li>
 
    <li class="pick-one">
    <button id="paperButton" class="rockpapersscissor">
      <img class="papers" src="./images/game3/paper 1.png" alt="paper">
    </button>
    </li>

    <li class="pick-one">
    <button id="scissorsButton" class="rockpapersscissor">
      <img class="scissors" src="./images/game3/scissors 1.png" alt="scissors">
    </button>
    </li> 
   </ul>
  <div class="comp-container">
      <p class="result-game3 m-font">Результат</p> 
      <p class="comp">Варіант комп'ютера</p>  
  </div>

  
</div>
</div>