<!-- <ul id="scientistList">
  <li data-birth="1809" data-name="Charles" data-surname="Darwin">Charles Darwin</li>
  <li data-birth="1879" data-name="Albert" data-surname="Einstein">Albert Einstein</li>
  <li data-birth="1867" data-name="Marie" data-surname="Curie">Marie Curie</li>
  <li data-birth="1769" data-name="Napoleon" data-surname="Bonaparte">Napoleon Bonaparte</li>
  <li data-birth="1743" data-name="Thomas" data-surname="Jefferson">Thomas Jefferson</li>
  <li data-birth="1564" data-name="Galileo" data-surname="Galilei">Galileo Galilei</li>
  <li data-birth="1903" data-name="Niels" data-surname="Bohr">Niels Bohr</li>
  <li data-birth="1473" data-name="Nicolaus" data-surname="Copernicus">Nicolaus Copernicus</li>
  <li data-birth="1643" data-name="Isaac" data-surname="Newton">Isaac Newton</li>
  <li data-birth="1818" data-name="Karl" data-surname="Marx">Karl Marx</li>
  <li data-birth="1922" data-name="Alan" data-surname="Turing">Alan Turing</li>
  <li data-birth="1736" data-name="Patrick" data-surname="Henry">Patrick Henry</li>
</ul>


<label><input type="radio" name="fact" value="bornIn20thCentury">Які вчені народилися в 19 ст.</label>
<label><input type="radio" name="fact" value="bornInAmerica">Знайти рік народження Albert Einshtein</label>
<label><input type="radio" name="fact" value="sortAlphabetically">Відсортувати вчених за алфавітом</label>
<label><input type="radio" name="fact" value="startsWithC">Знайти вчених, прізвища яких починаються на літеру “С”</label>
<label><input type="radio" name="fact" value="sortByAge">Відсортувати вчених за кількістю прожитих років</label>
<label><input type="radio" name="fact" value="removeStartsWithA">Видалити всіх вчених, ім’я яких починається на “А”</label>
<label><input type="radio" name="fact" value="findOldest">Знайти вченого, який народився найпізніше</label>
<label><input type="radio" name="fact" value="findMinMaxAge">Знайти вченого, який прожив найдовше і вченого, який прожив найменше</label>
<label><input type="radio" name="fact" value="sameInitials">Знайти вчених, в яких співпадають перші літери імені і прізвища</label> -->
<div class="delimiter"></div>

<p class="text-game9">Обери вченого/их</p>
<div id="page-container">
  <div class="grid-container" id="scientistList">
    <div class="grid-item" data-birth="1809" data-death="1882" data-name="Charles" data-surname="Darwin">
      <img class="chda" src="./images/scientists/Charles_Darwin.jpg" alt="Charles_Darwin">
      <div class="popup-container">
        <p class="popup-text">Чарльз <br> Дарвін <br> (1809-1882)</p>
      </div>
  </div>
    <div class="grid-item" data-birth="1879" data-death="1955" data-name="Albert" data-surname="Einstein">
      <img class="alei" src="./images/scientists/Albert_Einstein.jpg" alt="Albert_Einstein">
      <div class="popup-container">
        <p class="popup-text">Альберт <br> Ейнштейн <br> (1879-1955)</p>
      </div>
    </div>
    <div class="grid-item" data-birth="1913" data-death="2002" data-name="Nikolai" data-surname="Amosov">
      <img class="amni" src="./images/scientists/Amosov_Nikolai.jpg" alt="Amosov_Nikolai">
      <div class="popup-container">
        <p class="popup-text">Микола <br> Амосов <br> (1913-2002)</p>
      </div>
    </div>
    <div class="grid-item" data-birth="1867" data-death="1934" data-name="Marie" data-surname="Curie">
      <img class="macu" src="./images/scientists/Marie_Curie.jpg" alt="Marie_Curie">
      <div class="popup-container">
        <p class="popup-text">Марія <br> Кюрі <br> (1867-1934)</p>
      </div>
    </div>
    <div class="grid-item" data-birth="1743" data-death="1826" data-name="Thomas" data-surname="Jefferson">
      <img class="thje" src="./images/scientists/Thomas_Jefferson.jpg" alt="Thomas_Jefferson">
      <div class="popup-container">
        <p class="popup-text">Томас <br> Джефферсон <br> (1743-1826)</p>
      </div>
    </div>
    <div class="grid-item" data-birth="1564" data-death="1642" data-name="Galileo" data-surname="Galilei">
      <img class="gaga" src="./images/scientists/Galileo_Galilei.jpg" alt="Galileo_Galilei">
      <div class="popup-container">
        <p class="popup-text">Галілео <br> Галілей <br> (1564-1642)</p>
      </div>
    </div>
    <div class="grid-item" data-birth="1885" data-death="1962" data-name="Niels" data-surname="Bohr">
      <img class="nibo" src="./images/scientists/Niels_Bohr.jpg" alt="Niels_Bohr">
      <div class="popup-container">
        <p class="popup-text">Нільс <br> Бор<br>(1885-1962)</p>
      </div>
    </div>
    <div class="grid-item" data-birth="1473" data-death="1543" data-name="Nicolaus" data-surname="Copernicus">
      <img class="nico" src="./images/scientists/Nicolaus_Copernicus.jpg" alt="Nicolaus_Copernicus">
      <div class="popup-container">
        <p class="popup-text">Микола <br> Коперник<br>(1473-1543)</p>
      </div>
    </div>
    <div class="grid-item" data-birth="1643" data-death="1727" data-name="Isaac" data-surname="Newton">
      <img class="isne" src="./images/scientists/Isaac_Newton.jpg" alt="Isaac_Newtone">
      <div class="popup-container">
        <p class="popup-text">Ісак <br> Ньютон<br>(1643-1727)</p>
      </div>
    </div>
    <div class="grid-item" data-birth="1818" data-death="1883" data-name="Karl" data-surname="Marx">
      <img class="kama" src="./images/scientists/Karl_Marx.jpg" alt="Karl_Marx">
      <div class="popup-container">
        <p class="popup-text">Карл <br> Маркс<br>(1818-1883)</p>
      </div>
    </div>
    <div class="grid-item" data-birth="1912" data-death="1954" data-name="Alan" data-surname="Turing">
      <img class="altu" src="./images/scientists/Alan_Turing.jpg" alt="Alan_Turing">
      <div class="popup-container">
        <p class="popup-text">Алан <br> Тюрінг<br>(1912-1954)</p>
      </div>
    </div>
    <div class="grid-item" data-birth="1736" data-death="1799" data-name="Patrick" data-surname="Henry">
      <img class="pahe" src="./images/scientists/Patrick_Henry.jpg" alt="Patrick_Henry">
      <div class="popup-container">
        <p class="popup-text">Патрик <br> Генрі<br>(1736-1799)</p>
      </div>
    </div>
  </div>
</div>

<div id="factContainer">
  <label><input type="radio" name="fact" value="bornIn20thCentury">Які вчені народилися в 19 ст.</label>
  <label><input type="radio" name="fact" value="bornInAmerica">Знайти рік народження Albert Einshtein</label>
  <label><input type="radio" name="fact" value="sortAlphabetically">Відсортувати вчених за алфавітом</label>
  <label><input type="radio" name="fact" value="startsWithC">Знайти вчених, прізвища яких починаються на літеру “К”</label>
  <label><input type="radio" name="fact" value="sortByAge">Відсортувати вчених за кількістю прожитих років</label>
  <label><input type="radio" name="fact" value="removeStartsWithA">Видалити всіх вчених, ім’я яких починається на “А”</label>
  <label><input type="radio" name="fact" value="findOldest">Знайти вченого, який народився найпізніше</label>
  <label><input type="radio" name="fact" value="findMinMaxAge">Знайти вченого, який прожив найдовше і вченого,<br> який прожив найменше</label>
  <label><input type="radio" name="fact" value="sameInitials">Знайти вчених, в яких співпадають перші літери імені і прізвища</label>
</div>


