<section id="numerical-game" class="game2">
  <div class="delimiter"></div>

  <h3 class="t-font">Вгадай число, яке загадав комп'ютер</h3>

  <ul class="game2-controls">
    <li class="game2-item">
      <input
        class="js-game2-input m-font"
        min="0"
        placeholder="Введіть число"
        type="number"
      />
      <button type="button" class="js-game2-button">
        <img id="search-icon" src="./images/search-icon.svg" alt="" />
      </button>
    </li>
    <li class="game2-item">
      <p class="js-game2-answer m-font">Введіть число для перевірки</p>
    </li>
  </ul>
</section>
