<!-- Enter 3 numbers -->
<div class="enternum" id="numerical-game">
   <div class="delimiter"></div>

      <h3 class="t-font">Введіть 3 числа</h3>
<div class="inp">
       <input placeholder="Введіть число"  type="number" id="number1" class="num1 num m-font">
       <input placeholder="Введіть число"  type="number"  id="number2" class="num2 num m-font">
       <input placeholder="Введіть число"  type="number"  id="number3" class="num3 num m-font">
</div>
        <!-- <button class="btn" onclick="foundMaxNum()">Знайти найбільше число</button>  -->
 
      <p class="m-font" id="result-game8">Максимальне число, яке ви ввели: 0</p>

</div>