<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Document</title>
</head>
<body>
     <!-- Камінь - ножиці - папір  -->

     <div class="allrockpaperscissor">
        <h2>Камінь - ножиці - папір </h2>
    
        <div class="compyou">
          <p>Рахунок <span id="draw">0</span></p>
          <p>Комп'ютер <span id="computer">0</span></p>
          <p>Ви <span id="you">0</span></p>
        </div>

        <ul class="ulli">
         <li class="pick-one">
          <button class="rockpapersscissor" onclick="return playAgainstComputer('Камень')">
            <img class="rock" src="/src/images/game3/Frame 127.svg" alt="rock">
            Камінь
          </button>
         </li>
        </ul>
    
        <ul class="ulli">
          <li class="pick-one">
          <button class="rockpapersscissor" onclick="return playAgainstComputer('ножницы')">
            <img class="papers" src="/src/images/game3/Frame 126.svg" alt="paper">
            ножиці
          </button>
          </li>
         </ul>
    
         <ul class="ulli">
          <li class="pick-one">
          <button class="rockpapersscissor" onclick="return playAgainstComputer('бумага')">
            <img class="scissor" src="/src/images/game3/Frame 128.svg" alt="sscissor">
            папір
          </button>
          </li>
         </ul>

         <button class="comp">Варіант комп'ютера </button>
    </div>


    <script   src="/src/js/game3.js"></script>
</body>
</html>