<section id="numerical-game" class="game1">
    <div class="delimiter"></div>

    <h3 class="t-font">Перевір в який рік ти народився</h3>

    <ul class="game1-controls">
        <li class="game1-item">
            <input class="js-game1-input m-font" min="0" placeholder="Введіть свій рік народження" type="number"> 
            <button type="button" class="js-game1-button"><img id="search-icon" src="./images/search-icon.svg" alt=""></button>
        </li>
        <li class="game1-item"><p class="js-game1-answer m-font">Чи ви народилися у високосний рік?</p></li>
    </ul>

</section>

