   <!-- Enter 3 numbers -->
   <div class="enternum">
      <h2 class="h">Введіть 3 числа</h2>
<div class="inp">
     <input  type="number" id="number1" class="num1 num">
     <input  type="number"  id="number2" class="num2 num">
     <input  type="number"  id="number3" class="num3 num">
  </div>
      <!-- <button class="btn" onclick="foundMaxNum()">Знайти найбільше число</button>  -->

      <h3 class="h" onclick="foundMaxNum()">Найбільше число, яке ви ввели -  <span>(<span id="result"></span>)</span></h3>

   </div>
