<div class="modal-footer">

    <button class="modal-footer-button"><img id="close-symbol" src="./images/close-symbol.svg" alt=""></button>

<div class="modal-footer-top">
    <img id="symb1" src="./images/sword.png" alt="sword">
    <h3 class="modal-footer-text">Дякуємо за підписку!</h3>
    <img id="symb2" src="./images/game-development.png" alt="g-console">
</div>

<div class="modal-footer-bottom">
    <img id="symb3" src="./images/puzzle.png" alt="puzzle">
    <img id="symb4" src="./images/tic-tac-toe.png" alt="ttt"> 
</div>

</div>