<div class="delimiter"></div>

<div class="container" id="our-team-slider">
    <div id="teamSlider" class="slick-slider">
      <div class="slick-slide">
        <img src="./images/team-ivan.jpg" alt="Team Member 1">
        <div class="slide-caption">
          <h5>Бойчишин Іван</h5>
          <p>Team Lead</p>
        </div>
      </div>
      <div class="slick-slide">
        <img src="./images/team-diana.jpg" alt="Team Member 2">
        <div class="slide-caption">
          <h5>Скрипка Діана</h5>
          <p>Scram master</p>
        </div>
      </div>
      <div class="slick-slide">
        <img src="./images/team-misha.jpg" alt="Team Member 3">
        <div class="slide-caption">
          <h5>Опанасюк Михаїл</h5>
          <p>Developer</p>
        </div>
      </div>
    </div>
  </div>
  <div class="delimiter"></div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>