.__select {
    header.dark-triangle & {
        .__select__title:after {
            background-color: white;
        }
        .__select__title:before {
            background-color: white;

        }
    }
}

header.dark-select .__select__label {
    background-color: #262230 !important;

        &:hover {
            background-color: #484159 !important;
        }
}