.m-font {   // Простий шрифт для ігор
    font-family: 'Montserrat Alternates', sans-serif;
    letter-spacing: 0.04em;
    font-size: 12px;
    color: black;
}

.t-font {   // Заголовок ігор 
    font-family: 'Montserrat Alternates', sans-serif;
    letter-spacing: 0.05em;
    font-size: 12px;
    font-weight: 700;
    color: black;
}