/* <!-- Enter 3 numbers --> */

.enternum{
  display: flex;
  flex-direction: column;
}
.h{
  text-align: center;
  color: black;
}

.inp{
margin: 25px;
}

.num{
  width: 135px;
  height: 35px;
  margin: 25px;
  background-color: #D7D7D7;
  border: 0;
  border-radius: 20px;
  text-align: center;
  color: #7E7E7E;
  font-size: 12px;
  box-shadow: 3px 3px 0px 1px rgba(191, 191, 191);
}

.btn{
    margin-top: 25px;
    color: #7E7E7E;
}