.modal-footer {
    position: fixed;
    border-radius: 45px;
    z-index: 999;
    padding: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    
    transition: transform 200ms ease-in-out;
    transform: scale(1.1);

    &-text {
        font-family: 'Montserrat Alternates', sans-serif;
        letter-spacing: 0.05em;
        font-size: 24px;
    }

    &-top {
        display: flex;
        flex-direction: row;
        gap: 65px;
        margin: 12px 0;
    }

    &-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 230px;
        margin: 12px 0;
    }

    &-button {
        background-color: transparent;
        align-self: flex-end;
        padding: 6px;

        & img {
            width: 15px;
            height: 15px;
        }

    }

}
